@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Margins */
#tableofcontents {
    margin-left: 500px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    /* If screen too thin, makes text smaller*/
    * {
        font-size: 10px;
    }
}

/*
Adds font to list items
*/
li {
    font-family: 'Oswald', sans-serif;
}

#attendance {
    margin: 1vmax 0vmax 0vmax 45vmax
}

#agenda, #comments {
    border: 2px solid black;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.results {
    padding: 0.5em 1em 0.5em 1em
}

h3.agenda1 {
    border: 1px solid black;
    margin: 0vmax 44vmax 0vmax 35vmax
}

h3.agenda2 {
    border-style: dotted;
    border-color: red;
    border-width: 1px;
    border-radius: 0em;
    margin: 0vmax 31.5vmax 0vmax 35vmax
}

h3.agenda3, h3.agenda4 {
    width: 100px;
    height: 20px;
    margin: auto
}

p.standup {
    display: inline;
}

p.newrules {
    display: block;
    color:red;
    text-decoration: underline;
}

h3[class] {
    background-color: aquamarine
}

img[src] {
    max-width: 750px;
    max-height: 250px;
}

#important {
    position: absolute;
    left: 30px;
    top: 100px;
    background-color: pink
}

#teambuilding {
    position: relative;
    left: 30px;
}

a:hover {
    background-color: yellow
}

a:active {
    background-color: orange
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: right;
}
  
.flex-container > div {
    font-family: 'Oswald', sans-serif;
    background-color: lightcyan;
    margin: 3px;
    padding: 1px;
}

.grid-container {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-evenly;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px;
}
  
.grid-container > div {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/*Any paragraph that follows a heading is formatted*/
div div {
    color: purple;
}

/*Any paragraph that follows a heading is formatted*/
h2 + p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/*All unordered lists after h3 are formatted*/
h3 ~ ul {
    color: brown;
}